/* Breakpoints */

@media only screen and (min-width: 475px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 640px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 768px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 1024px) {
  /** Sääntöjä tänne */
  }


/* General Styling */

body {
  background-color: azure;
  margin: 0;                    /* Todella outo margin 8px bodyssa, vaikka sellaista sääntöä ei täällä missään ole mainittu. Tämä on nyt väliaikainen ratkaisu. - Santeri */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Navbar Styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:antiquewhite;
  padding: 10px;
}

.navbar-list {
  flex-direction: row;
  justify-content: center;
}

.li-signin {
  margin-right: 10px;
  
}

.pg-title {
  display: flex;
}

.nav-btn {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
}


/* Universal Navbar Section Rules */

.pg-title, .navbar-list, .li-signin {
  display: flex;
  list-style: none;
}

/* Login Page Styling */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color:beige;
  padding: 20px;
  width: 500px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: antiquewhite;
  border: none;
  border-radius: 5px;
}

.login-input {
  margin: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 0.25rem;
}

/* Product */

.card {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(111, 205, 205);
  background-color: white;
  max-width: 270px;
  display: inline-block;
}

.card .card-image {
  max-width: 75%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px;
}

.card .card-title {
  font-size: 1em;
  margin: 0; 
  color: black;
  margin-bottom: 10px;
}

.card .card-text {
  font-size: 0,5em;
  margin: 0;
  color: black;
  margin-bottom: 10px;
}

/* ¨Front page */

.front-page-background-image 
{
  background-image: url("assets/product-images/Front_page_background.png");
}

.product-card-carousel-container 
{
  background-color: white;
}

.front-page-carousel-image img
{
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin: 0 auto;
}

.slide-over-text 
{
  position: absolute;
  top: 30%;
  left: 23%; 
  max-width: 5%;
}

.product_row {
  display: flex;
  justify-content: center;
}

.btn-primary.card-button {
  border-bottom-left-radius: 5px;
}

.btn-outline-primary.card-button {
  border-bottom-right-radius: 5px;

/* single-product-view */

  .single-card {
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(111, 205, 205);
    background-color: white;
    max-width: 270px;
    display: inline-block;
  }
}

/*Categories*/

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-card {
  flex-basis: calc(33.33% - 10px); /* Olettaen, että haluat 10px välin korttien välille */
  margin: 5px;
  text-align: center;
  border: 1px solid #000;
}

/* Footer Styling */

.Footer {
  color: white;
  background-color: black;
  font-style: italic;
  font-size: 16px;
  position: relative;
  bottom: 10px;
  text-align: center;
}

