

body {
  text-align: center;
  padding-top: 15px; /* Adjust this value as needed */
  background-color: azure;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.Header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 1em;
  position: sticky;
  top: 50px; /* Adjust this value based on the height of your Header */
  z-index: 100;
}

.Footer {
  color: black;
  font-style: italic;
  font-size: 16px;
  position: relative;
  bottom: 10px;
  margin-top: 120px; /* Add some space above the footer */
}