/* Breakpoints */

@media only screen and (min-width: 475px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 640px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 768px) {
  /** Sääntöjä tänne */
  }
  
  @media only screen and (min-width: 1024px) {
  /** Sääntöjä tänne */
  }


/* General Styling */

body {
  background-color: azure;
  margin: 0;                    /* Todella outo margin 8px bodyssa, vaikka sellaista sääntöä ei täällä missään ole mainittu. Tämä on nyt väliaikainen ratkaisu. - Santeri */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* Navbar Styling */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:antiquewhite;
  padding: 10px;
}

.navbar-list {
  flex-direction: row;
  justify-content: center;
}

.li-signin {
  margin-right: 10px;
  
}

.pg-title {
  display: flex;
}

.nav-btn {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
}


/* Universal Navbar Section Rules */

.pg-title, .navbar-list, .li-signin {
  display: flex;
  list-style: none;
}


/* Footer Styling */

.Footer {
  color: black;
  font-style: italic;
  font-size: 16px;
  position: relative;
  bottom: 10px;
  margin-top: 120px; /* Add some space above the footer */
  text-align: center;
}